
 <div class="d-flex flex-column header flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <img src="./assets/logo.jpg" width="60px" height="60px" />
  <nav class="my-2 my-md-0 mr-md-3 right-nav">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4 fileInput">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="fileUpload($event)">
          <label class="custom-file-label file-name" for="inputGroupFile04">{{filePathName}}</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary file-upload" type="button" (click)="fileSubmit()">FileUpload</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="tableShow">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-md-offset-4">
      <div class="section-widget">
      <table class="table table-dark " >
        <thead>
          <tr>
            <th scope="col">Reference</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of responseData">
            <td>{{record.refernce}}</td>
            <td>{{record.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div  class="row" *ngIf="successShow">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4">
          <p class="message">File has uploded successfully </p>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
